// Start The Global Ruls
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Estonia", "cursive";
  font-family: "Josefin Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Zen Antique", serif;
}

:root {
  --main-color: #e91e63;
}
// End The Global Ruls
// Start The Container
.container {
  padding: 50px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;

  textarea {
    width: calc(100% - 20px);
    height: 250px;
    border-color: var(--main-color);
    font-size: 18px;
    color: var(--main-color);
    padding: 10px 20px;

    &:focus {
      outline: none;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 30px;

    button {
      width: calc(100% / 2 - 50px);
      padding: 6px 0;
      color: white;
      font-weight: bold;
      border: none;
      outline: none;
      background-color: var(--main-color);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;

      @media (max-width: 450px) {
        & {
          width: 100%;
        }
      }
    }

    @media (max-width: 450px) {
      & {
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  // Result Area
  .resultArea {
    height: 200px;
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
// End The Container
